<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>SignInPage</title>
    <link rel="stylesheet" type="text/css" href="../static/styles/style.css" />
  
  
  </head>
  <body>
    <div class="container">
      
      <div class="forms-container">
        <h1 class="header">Vechile Tracking System</h1>
        <div class="signin-signup">
          
          <form onsubmit="return submitForm()" class="sign-in-form" method="post">
            
            <h2 class="title">Enter Vechile Details</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <label for="vehicle_input">Vehicle:</label>
              <input type="text" id="vehicle_input" name="vehicle_name" required/>
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <label for="date_input">Date:</label>
                <input type="date" id="date_input" name="date" required />

            </div>
            <input type="submit" value="Submit" class="btn solid" />
          </form>

        <p id="errorMessage" class="error-message"></p>
        </div>
        
      </div>
      <div class="panels-container">

        <div class="panel left-panel">
            <div class="content">
                <h3>Vechile Tracking System</h3>
                <p>Track your vechile from anywhere and anytime</p>
                <button class="btn transparent" id="sign-up-btn">Know More</button>
                <div id="more-info" style="display: none; margin-top: 20px;">
                  <p>The Vehicle Tracking System allows you to monitor the location, speed, and status of your vehicles in real-time. Ensure the safety and efficiency of your fleet with our advanced tracking technology.</p>
                </div>
            </div>
            <img src="./img/GPS.jpg"  id="imgprop" class="image" alt="">
        </div>
      </div>
      
    </div>

    <script src="../static/scripts/app.js"></script>
  </body>
</html>
